<a href="/pricing" class="bg-gray-600 border border-transparent rounded-md py-3 px-5 inline-flex items-center justify-center text-base font-medium text-white hover:bg-gray-700">
    <div class="text-gray-800 z-10 text-center">
        <p class="mb-2 font-bold text-white">Private Information</p>
        <p class="mb-2 text-gray-50">This information is only visible with a business subscription.</p>
        <p class="text-sm font-bold text-white">Subscribe →</p>
    </div>
</a>